@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

main.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

main.centered h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

main.centered hr {
  width: 70%;
  height: 2px;
  margin: 1rem 0;
  background-color: #333;
  border: none;
}

main.centered img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

main.centered h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  color: #f06c64;
}

main.centered p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  max-width: 50%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  box-sizing: border-box;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
